[user]
	email = 91570276+nedclimax@users.noreply.github.com
	name = Marouene Boughoufa
[core]
	editor = vim
[init]
	defaultBranch = master
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit --all